@model BarEarth.Models.Bar
@inject BarEarth.Data.ApplicationDbContext context;
@{ViewData["Title"] = "Products";}




<div class="container" style="margin-top:15px;">
    <div class="row justify-content-center">
        <div class="card bg-light col-10">
            <div class="card-img-overlay d-flex flex-row-reverse ">
            </div>
            <div class="card-body">
                <div class="card-header">
                    <h2 class="card-title">
                        <a asp-controller="Admin" asp-action="BarEdit" asp-route-id="@Model.Id" class="btn bnt-link">
                            <i class="material-icons">arrow_back</i>
                        </a>
                        Edit Product
                    </h2>
                </div>

                <form asp-controller="Admin" asp-action="ProductsEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">@Html.ActionLink("Name", "Products", new { sortOrder = ViewBag.Name })</th>
                                        <th scope="col">@Html.ActionLink("Type", "Products", new { sortOrder = ViewBag.Type })</th>
                                        <th scope="col">@Html.ActionLink("SubType", "Products", new { sortOrder = ViewBag.SubType })</th>
                                        <th scope="col">@Html.ActionLink("Price", "Products", new { sortOrder = ViewBag.Price })</th>
                                        <th scope="col">ImageUrl</th>
                                        <th scope="col">IsFood</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                    <tr>
                                        <td>
                                            <br/><input type="number" asp-for="@item.Id" class="form-control" />
                                            <span asp-validation-for="@item.Id" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <br /><input type="text" asp-for="@item.Name" class="form-control" />
                                            <span asp-validation-for="@item.Name" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <br /><input type="text" asp-for="@item.Type" class="form-control" />
                                            <span asp-validation-for="@item.Type" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <br /><input type="text" asp-for="@item.SubType" class="form-control" />
                                            <span asp-validation-for="@item.SubType" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <br /><input type="number" asp-for="@item.Price" class="form-control" />
                                            <span asp-validation-for="@item.Price" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <br /><input type="url" asp-for="@item.PictureUrl" class="form-control" />
                                            <span asp-validation-for="@item.PictureUrl" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input  asp-for="@item.IsFood" />
                                        </td>
                                        <td class="btn-group">
                                            <a asp-action="DeleteProduct"  asp-route-id="@item.Id" class="btn btn-raised btn-dark">Delete</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>