@model IEnumerable<BarEarth.Models.Rating>
@inject BarEarth.Data.ApplicationDbContext context;
@{ViewData["Title"] = "Ratings";}

<div class="card mb-3" style="width: 70rem;  background-color: #fff; margin:auto; margin-top: 10vh;">
    <div class="card-img-overlay d-flex flex-row-reverse ">
    </div>
</div>
<div class="card-header text-white" style="background-color:#2195F2">
    <h2 class="card-title">Ratings</h2>
    <h6>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Rate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Review)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bar)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Review)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bar.Name)
                        </td>
                        <td>
                            <a asp-action="DeleteRating" type="button" asp-route-id="@item.Id" class="btn btn-raised btn-dark">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </h6>
    <h6 class="card-subtitle"></h6>
</div>