@model BarEarth.Models.Bar
@inject BarEarth.Data.ApplicationDbContext context;
@{ViewData["Title"] = "Products";}
<div class="container" style="margin-top:15px;">
        <div class="row justify-content-center">
            <div class="card bg-light col-10">
                <div class="card-img-overlay d-flex flex-row-reverse ">
                </div>
                <div class="card-body">
                    <div class="card-header">
                        <h2 class="card-title">
                            <a asp-controller="Admin" asp-action="Bars" class="btn bnt-link">
                                <i class="material-icons">arrow_back</i>
                            </a>
                            @Model.Name Meny
                        </h2>
                    </div>

                    <form asp-controller="Product" asp-action="Products">
                        <div class="row">
                            <div class="col-md-10">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.ActionLink("Name", "Products", new { sortOrder = ViewBag.Name })</th>
                                            <th>@Html.ActionLink("Type", "Products", new { sortOrder = ViewBag.Type })</th>
                                            <th>@Html.ActionLink("SubType", "Products", new { sortOrder = ViewBag.SubType })</th>
                                            <th>@Html.ActionLink("Price", "Products", new { sortOrder = ViewBag.Price })</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Products)
        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        <div style="background-image: url(@Html.DisplayFor(modelItem => item.PictureUrl)); width:100px; height: 100px; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;"></div>
                                    </td>
                                </tr>
}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>